/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end*/

/* CSS VARIABLES & FONTS */
:root {
  --shadow-gray: #eaecf1;
  --light-gray: #eeeeee;
  /* // Primary */
  --purple-050: #eae2f8;
  --purple-100: #cfbcf2;
  --purple-200: #a081d9;
  --purple-300: #8662c7;
  --purple-400: #724bb7;
  --purple-500: #653cad;
  --purple-600: #51279b;
  --purple-700: #421987;
  --purple-800: #34126f;
  --purple-900: #240754;

  --red-vivid-050: #ffe3e3;
  --red-vivid-100: #ffbdbd;
  --red-vivid-200: #ff9b9b;
  --red-vivid-300: #f86a6a;
  --red-vivid-400: #ef4e4e;
  --red-vivid-500: #e12d39;
  --red-vivid-600: #cf1124;
  --red-vivid-700: #ab091e;
  --red-vivid-800: #8a041a;
  --red-vivid-900: #610316;

  /* // Neutrals */
  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;

  /* // Supporting */
  --teal-vivid-050: #f0fcf9;
  --teal-vivid-100: #c6f7e9;
  --teal-vivid-200: #8eedd1;
  --teal-vivid-300: #5fe3c0;
  --teal-vivid-400: #2dcca7;
  --teal-vivid-500: #17b897;
  --teal-vivid-600: #079a82;
  --teal-vivid-700: #048271;
  --teal-vivid-800: #016457;
  --teal-vivid-900: #004440;

  --yellow-vivid-050: #fffbea;
  --yellow-vivid-100: #fff3c4;
  --yellow-vivid-200: #fce588;
  --yellow-vivid-300: #fadb5f;
  --yellow-vivid-400: #f7c948;
  --yellow-vivid-500: #f0b429;
  --yellow-vivid-600: #de911d;
  --yellow-vivid-700: #cb6e17;
  --yellow-vivid-800: #b44d12;
  --yellow-vivid-900: #8d2b0b;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--blue-grey-050);
}
* {
  box-sizing: border-box;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 48;
}
/* MAIN */
.main {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  border: 2px solid blue;
  display: grid;
  grid-template: 0.1fr 0.1fr 1fr 0.075fr / 1fr;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-500);
  grid-row: 1/1;
  grid-column: 1/1;
  border-bottom: 3px solid var(--blue-grey-050);
  height: clamp(100px, 100px, 150px);
}
.title {
  font-size: 2.25rem;
  color: var(--purple-050);
}
.add-book-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(100px, 100px, 100px);
}
.add-btn {
  background: var(--purple-200);
  color: white;
  min-width: 100%;

  border: 0;

  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 10%;
}
.add-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.695);
}
.add-btn:active {
  background-color: var(--light-gray);
}
.card-container-wrap {
  display: grid;
  grid-template: 0.5fr 1fr 0.5fr /1fr;
}

.card-container {
  background-color: var(--blue-grey-050);

  grid-row: 3/4;
  grid-column: 1/1;
  display: grid;
  grid-template: 1fr / 0.2fr 1fr 0.2fr;
  gap: 10px;
}
.cards {
  grid-row: 1/1;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
  gap: clamp(15px, 30px, 30px);
  padding-bottom: 2.5rem;
}
.book-card {
  padding: 15px;
  height: clamp(150px, 200px, 200px);
  width: clamp(150px, 200px, 1fr);
  background-color: #ffffff;
  box-shadow: 1px 2px 1px #0000000f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.book-card:hover {
  transition: 250ms;
  box-shadow: 1px 2px 1px #00000035;
}
.book-title {
  font-weight: bold;
  color: var(--blue-grey-900);

}
.book-author {
  color: var(--blue-grey-700);
  font-size: 16px;
}
.book-pages {
  color: var(--blue-grey-500);
  font-size: 14px;
}
/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--purple-500);
  border-top: 1px solid var(--blue-grey-050);
}

.footer p {
  font-weight: 500;
  font-size: 1rem;
}

/* button */
.button-62 {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn-read {
  background-color: #b9f6ca;
  min-width: 100%;

  border: 0;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 100%;
}
.btn-read:hover {
  background-color: #b9f6cabb;
}
.btn-unread {
  min-width: 100%;
  background-color: #ffcdd2;
  border: 0;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 100%;
}
.btn-unread:hover {
  background: #ffcdd2bd;
}
.unread {
  min-width: 10%;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background: var(--red-vivid-050);
  font-weight: 400;
  color: var(--red-vivid-900);
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 10%;
}
.read {
  min-width: 10%;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background: var(--teal-vivid-100);
  font-weight: 400;
  color: var(--teal-vivid-900);
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 10%;
}
.btn-delete {
  background: var(--blue-grey-050);
  border: 0;
  border-radius: 12px;
  color: var(--blue-grey-800);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 100%;
}
.btn-delete:hover {
  background: var(--blue-grey-300);
  opacity: 75%;
  color: rgb(255, 255, 255);
}
.delete {
}
/* modals */

.add-book-modal {
  display: none; /*hidden by default*/
  position: fixed; /*stay in place*/
  z-index: 1; /*display on top */
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.435);
}

.book-form {
  background-color: #ffffff;
  margin: 15%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius:20px;

  padding: 2rem 1rem 0;
}
.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: var(--blue-grey-050);
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  margin:0.5rem
}
input:invalid {
  border-color:var(--red-vivid-300);
  background-color:var(--red-vivid-050);
}

input:valid {
  border-color: var(--teal-vivid-400);
  background-color: var(--teal-vivid-050)
}

.close {
  color: var(--blue-grey-800);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.bold-text {
  font-weight: 1000;
  padding-bottom: 10px;
}

#nameError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible {
  display: block;
}

.error-active {
  display:block;
  height:100px;
  width:100%;
  background-color:var(--yellow-vivid-050);
  color:var(--yellow-vivid-800)
}

.error-hidden{
  display:none
}
#read_status:checked {
  height:20px;
  font-size:28px;
  background-color: var(--teal-vivid-200);
  color:green
}

#read_status {
  height:20px;
  font-size:28px;
  background-color:red
}
.submit-book {
  text-align:center;
  border:none;
  padding:5px;
  background-color: var(--purple-700);
  align-self:center;
  border-radius:5px;
  padding:15px;
  color:var(--purple-050);
  font-weight:700;
  margin:10px
}